
style.css
Your file will expire in 24 hours unless you sign up.

Add a CTAUpgrade
Button visibility	
From
Button type
Button text
Button link (URL)
Button color
Text color
Button location
Button style
Show my photo

Choose ThumbnailUpgrade

Static

    Animation

Trim your video using the handles and Split button. Merge with other videos by clicking the Add Clip button.
View help article

Edit Captions

Engagement Insights

    Video Views
    0
    Video Downloads
    0
    Call-to-Action Clicks
    0
    Average Completion Rate
    0%

viewers

    Someone from Pakistan desktop
    Apr 14, 2021
    Someone from Pakistan desktop
    Apr 14, 2021
    Someone from Pakistan desktop
    Apr 14, 2021

Transcription

Engagement Insights

Analytics

Find out who viewed and downloaded
your file, when, and from where.

0 Comments
Leave a comment

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
<style>
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
</style>

body{
  background-color:antiquewhite ;
}
*{
  margin:0;
  padding:0;
}
nav{
  font-family:"Ubantu","sans-serif";
}
nav ul{
  display:flex;
  list-style-type:none;
  height:65px;
  background-color:black;
  color:white;
  align-items:center;

}
.brand img{
  width:47px;
}
.brand{
  display:flex;
  align-items:center;
  font-weight:bold;
  font-size:1.3rem;
  padding:0px 9px;
}
nav ul li{
  padding:0 12px;
}
.container{
  min-height: 70vh;
  background-color: black;
  color:white;
  font-family:"Ubantu","sans-serif";
  display:flex;
  width:70%;
  margin:23px auto;
  border-radius:12px;
  padding:34px;
  background-image:url('bg.jpg');
  background-size:100%;

}
.bottom{
  position:sticky;
  height:74pxx;
  color:white;
  background-color: black;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.icons{
  margin-top: 14px;
}
.icons i{
  cursor:pointer;
}
#myProgressBar{
  width:80vw;
  cursor:pointer;
}
.song-item{
  height:50px;
  display:flex;
  background-color:white;

  color:black;
  margin:12px 0;
  justify-content: space-between;
  align-items:center;
  border-radius: 34px;
}
.song-item img{
 width:43px;
  margin:0 23px;
  border-radius: 50px;

}
.timeStamp{
  margin:0 23px;
}
.timeStamp i{
  cursor:pointer;
}
.SongItemContainer{
 margin-top: 70px;
}
.songInfo{
  position:absolute;
  left:10vw;
  font-family: "Varela Round", sans-serif;
}
.songInfo img{
  opacity:0;
  transition: opacity 0.4s ease-in;
}

